.building-btn {
    min-width: 140px;
    min-height: 60px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: rgb(67, 177, 250);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 2px 2px rgba(83, 83, 83, 0.2)
}