@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0px;
    background-color: rgb(250, 250, 250);
}


.container-buildings-page {
    display: inline-block;
    margin-top: 80px;
    text-align: center;
    align-items: center;
}

.container-news-page {
    display: inline-block;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    
    
    
}

.container-main-page {
    display: block;
}