@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@300;400;500&display=swap');

:root {
    margin: 0;
    background-color: #F4F6EF;
    margin: 0 25%;
    font-family: 'Calibri';
}