.footer {
    display: block;
    background-color: rgb(206, 195, 195);
    width: 100%;
    height: 200px;
}

.phonenumber, .email {
    display: flex;
}

.info-column {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    padding-right: 25px;
}

.info-site {
    text-align: center;
}