.footer {
    display: flex;
    background-color: rgb(238, 238, 238);
    width: 100%;
    min-height: 150px;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.phonenumber, .email {
    display: flex;
}

.info-column {
    display: flex;
    text-align: center;
    align-items: center;
    padding-right: 25px;
}

.info-site {
    text-align: center;
    font-weight: 900;
}